.bg-cream { background:#f7f0e6; }
.section-title { font-weight:700; color:#5a3e2b; }
body { font-family: Poppins, sans-serif; }

/* NAVBAR */
.navbar { background:#f7efe5;
 }
 .navbar .nav-link:hover {
  color: #5c2d0a !important;
  text-decoration: underline;
}
.navbar-brand { font-size:28px; font-weight:700; }
.logo-brown { color:#5c2d0a; }
.logo-black { color:#000; margin-left:5px; }
.banner-section {
    height: 70vh;
    background: url('images/banner.jpg') center/cover no-repeat;
    position: relative;
}
.banner-section::before {
    content:"";
    position: absolute;
    top:0; left:0;
    width:100%; height:100%;
    /* background: rgba(0,0,0,0.4); */
}
.banner-section .container {
    position:relative;
    z-index:2;
}
.banner-title {
    color:white;
    font-size:40px;
    font-weight:700;
    text-shadow:2px 2px 4px black;
    
}
.banner-subtitle {
    color:white;
    text-shadow:2px 2px 4px black;
    font-size: 25px ;
    margin-top:10px;
}

.service-box {
    background:white;
    border-radius:8px;
    transition:0.3s;
}
.service-box:hover {
    transform:translateY(-5px);
}
/* PRODUCTS */
.products-section,
.collection-section {
  padding: 50px 0;
  font-size: 25px;
}
.products-section{
  background:#f7f0e6;
}
.product-card,
.collection-card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}
.product-card:hover,
.collection-card:hover {
  transform: translateY(-8px);
}

.product-card img,
.collection-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.timeline {
    position:relative;
    margin:0 auto;
    padding-left:20px;
}
.timeline::before {
    content:"";
    position:absolute;
    left:50%;
    top:0;
    width:4px;
    height:100%;
    background:#d5c1ae;
}

.timeline-item {
    width:50%;
    position:relative;
    margin-bottom:40px;
}

.timeline-item.left { left:0; }
.timeline-item.right { left:50%; }

.timeline-content {
    background:white;
    padding:20px;
    border-radius:10px;
    position:relative;
    width:85%;
}
.timeline-item.left .timeline-content { margin-left:0; }
.timeline-item.right .timeline-content { margin-left:15px; }

/* CONTACT */
.contact-section {
  background: url("images/contact-bg.jpg") center/cover no-repeat;
  padding: 70px 0;
  position: relative;
}
.contact-section::before {
    content:"";
    position: absolute;
    top:0; left:0;
    width:100%; height:100%;
     background: rgba(0,0,0,0.4); 
}
.contact-section .container {
    position:relative;
    z-index:2;
}
.contact-section iframe {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  border: 0;
}
.contact-box {
  /* background: rgba(255,255,255,0.95); */
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  color: white;
}
.footer {
    background:#5a3e2b;
    color:white;
}

@media (max-width: 768px) {

  .timeline::before {
    left: 10px;
  }

  .timeline-item {
    width: 100%;
    left: 0 !important;
    padding-left: 30px;
  }

  .timeline-content {
    width: 100%;
  }

}
@media (max-width: 576px) {
  .product-card img,
  .collection-card img {
    height: 180px;
  }
}
@media (max-width: 576px) {
  .banner-title {
    font-size: 26px;
  }
  .banner-subtitle {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .contact-box {
    text-align: left;
  }
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(92,45,10,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border: 1px solid #5c2d0a;
}
img {
  max-width: 100%;
  height: auto;
}
.container, .container-fluid {
  overflow-x: hidden;
}

